.hero{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: space-between;
    align-items: center;
    background-color:rgb(23, 141, 102) ;
    border-bottom-left-radius: 50% 30px;
border-bottom-right-radius: 50% 30px;
    border-radius: 20px;
    overflow: hidden;

    .one{
        margin:3rem 3rem;
        h1{
            width: 80%;
            font-size: 4rem;
        }
        p{
            width: 50%;
            font-size: 16px;
        }
    }
    .two{
        & img{
            width: 500px;
        }
    }

}