nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgb(23, 141, 102);
    color: white;
    margin-bottom: 1rem;
    margin: .5rem;
    // margin: 1rem;
    // border-radius: 30px;
    position: relative;

    & span{
        color: orange;
        margin-right: 5px;
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
    }
    .search{
        background-color: white;
        padding: .5rem 3rem;
        display: flex;
        justify-content: space-between;
    }
    input{
        width: 100%;
        background: transparent;
    }
    @media (max-width:480px){
           nav{
            display: flex;
            justify-content: space-between;
           }
           a{
            display: none;
           }
           input{
            width: 50px;
           }
           .user{
            display: none;
           }
           #addToCart{
            font-size: 2rem;
           }
    }
    @media (max-width:769px) {
        nav{
            display: flex;
            justify-content: space-between;
           }
           a{
            display: none;
           }
           input{
            width: 100%;
           }
           .user{
            display: none;
           }
    }
}
.cart{
    padding: 5rem;
    background-color: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(3px);
    width: 50%;
    min-height: 30%;
    position: absolute;
    top: 0;
    // bottom: 0;
    color: white;
    margin-bottom: .5rem;
    transform: translateX(-850px);
    transition: .3s ease-in-out;

    & h1{
        font-size: 2rem;
        border-bottom: 2px white solid;
    }
    .cardP{
        display: flex;
        align-items: center;
    }
}
.cartClear{
    transform: translateX(0);
}