.productSection{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    height: 40vh;
        .cardP{
            .qyt{
                font-size: small
            }
            button{
                padding: 1rem 2rem;
            }
        }
}
